<html>
  <head>
    <script src="/static/jquery-1.9.1.min.js"></script>
    <script src="/static/underscore-1.4.4.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/spin-1.2.8.js"></script>
    <script src="/static/jquery.spin.js"></script>
    <script src="/static/jquery.blockUI.js"></script>
    <script src="/static/moment.js"></script>
    <script src="/static/app.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel=stylesheet type="text/css"></link>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel=stylesheet type="text/css"></link>
    <title>{% block title %}{% endblock %} | MIT表白墙</title>
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
